
body {margin-left: 20%;
    width: 60%;
     border: 1px solid #99adab;
margin-top: 2%;
margin-bottom: 2%;
border-radius: 10px;

      background: linear-gradient(to bottom right, #dee8fc, #dee8fc);   }


.right-div .avatar-block {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h3 {margin: 5px 0;}


.container {
    display: flex;

}
.container img {
    max-width: 100%;
     display: block;
     margin: 0 auto; }


   .left-div, .left-div-top {
    background-color: #6abffcd9;
    flex: 1;
    min-width: 100px;
    text-align: right;}

.right-div, .right-div-top {
 background-color: #5cb8fad9;
    border-left: 1px solid #99adab;
    flex: 3;}

.left-div-top {
border-radius: 10px 0px 0px 0px;
}

.right-div-top {
border-radius: 0px 10px 0px 0px;
}



.right-div {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.cert {
    flex: 0 0 30%; 
    margin: 10px; 
    text-align: center;
}



/* Content */
.cont {
    text-align: center;
}
.cont-column {
display: inline-block;
min-width: 150px;
height: 35px;
text-align: center;
margin: 5px;
padding: 5px;
}

.cont-column h4, .cont-column p {
margin: 0px;
padding: 0px;}

.cont-column h4 {
border-bottom: 1px solid #3258a8; 
}





.skills-line {
    display: flex;
    justify-content: center;
    align-items: center; 

}


.skills {

width: 80%;
margin-left: 10%;
margin-right: 3%;
padding: 0px 10px 40px 10px;
flex: 1;
}

.skills img {
position: relative;
right: 65%;
top: 15%;
width: 50px;
}

.skills img {
padding: 1px;

}

.skills-bar {
height: 12px;
background: white;
border-radius: 4px;
}

.skill-percentage {
height: 12px;
background: #9298a1;
border-radius: 4px;
position: relative;
}

.skill-percentage::before {
content: attr(a);
position: absolute;
background: #9298a1;
padding: 4px 6px;
font-size: 12px;
font-weight: bold;
border-radius: 4px;
top: -30px;
right: 0px;
transform: translateX(50%);
}

.skill-percentage::after{
content: '';
position: absolute;
width: 8px;
height: 8px;
background: #9298a1;
top: -13px;
right: 0px;
transform: translateX(50%) rotate(45deg);
}

.skills p {
padding: 0px;
margin: 0px;
margin-bottom: 0px;
}

p, h4, h3, h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
}
h4 {
padding: 10px;
}

.cert img:hover {
    transform: scale(2.2);
 border: 1px solid #99adab;
}

.cert img {
    transition: transform 0.3s; 

    }

.intro {
    margin: 0 0 10px; 
    padding: 10px;
    line-height: 1.5; 
}

.avatar-block h3, .avatar-block h2  {
    text-align: center;
    display: block;
    margin: 30px auto;
}

.education p{
margin-left: 10%;

}
.education h2 {
margin-left: 5%;
width: 100%;

}
